* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
      font-family: 'Saira', sans-serif;
  }
  
  .container{
      width: 1400px;
      margin: auto;
  }
  p {
  }
  
  h1 {font-size: 30px;font-weight: 400;}
  
  img {
      max-width:100%;
  }
  
  h2 {
  }
  
  .line {width: 100px;margin: auto;background: black;display: block;height: 1px;margin: 10px auto;}
  .flex {display: flex;flex-wrap: wrap;}
  .col-1-2 {flex-basis: 50%;padding: 15px;}
  
  .hero {
      background-color: #282828;
      padding: 06px;
  }
  .hero p {
      color: #a29b89;
      text-align: center;
  }
  .hero p strong {margin-right: 10px;}
  
  .sub-hero {
  }
  
  .content{
      text-align: center;
      padding: 50px 220px;
      /* align-content: center; */
  }
  .feature{
      padding: 50px 0px;
  }
  .feature-heading{
    padding: 20px 150px;
}
  .feature-heading h2{
    font-size: 30px;
    font-weight: 400;
    width: 50%;
}
  .gallery
  .gallery-content{background-color: #282828;padding: 133px 70px;}
  .gallery-content h3{
    color: #a29b89;
}
  .gallery-content p{
    color: white;
    font-size: 14px;
    margin: 10px 0;
}
  .gallery-content a{
    color: #a29b89;
    text-decoration: none;
}
  .mission{}
  .hero2{
    padding: 50px;
    background: #282828;
    text-align: center;
}
  .hero2 h4{
    /* font-size: 16px; */
    color: lightgoldenrodyellow;
    margin: auto;
    font-size: 18px;
    font-weight: 300;
    width: 40%;
}
  
  .product-section{}
  .heading{
    padding-bottom: 20px;
    padding-top: 50px;
}
  .heading h3{
    text-align: center;
    /* padding-top: 50px; */
    /* padding-bottom: 10px; */
}
.col-1-3{
    flex-basis: 33.33%;
    padding: 15px;
}

   .product-box{
    text-align: center;
    background-color: #f3f0eb;
    padding: 30px 0px;
}
   .product-box img{}
   .product-box h3{
    color: #0000009e;
    text-decoration: none;
}
   .product-box h4{
    color: #00000091;
}

.product-box a{
    text-decoration: none;
}
   .review{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
   .review img{width: 20px;padding: 2px;}

  